@media all and (max-width: 1200px){
    .container{
        width: 90%;
    }
    .menu{
        margin-left: 0;
      }
}
@media all and (max-width: 991px){
    
   
    .col-6{
        width: 100%;
    }
    .col-4{
        width: 50%;
    }
    .col-3 {
        width: 50%;
       
    }
    .col-2 {
        width: 33%;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        padding: 1rem;
    }
    .mb-5 {
        margin-bottom: 10rem;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }
    h1 {
        font-size: 4.8rem;
        font-weight: 600;
    }
    h2 {
        font-size: 3rem;
        font-weight: 600;
    }
    .header-text-area {
        margin-top: 10rem;
    }
    .header-img-area {
        height: 60rem;
        margin: auto;
        margin-top: 7rem;
    }
    .menu{
        display: none;
    }
    .menu-show-btn{
        display: block;
    }
    .order{
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
    }
    .desginer-text {
        margin-bottom: 5rem;
    }
    .desginer-img{
        text-align: center;
        margin-bottom: 3rem;
    }
    .features-img img{
        display: none;
        
    }
    
    .meet-img {
        position: inherit;
        width: 100%;
    }
    .meet-img img {
        width: 100%;
    }
   
    .downlode-loction-img img{
        position: inherit;
    }

}

@media all and (max-width: 767px){
    
    h1 {
        font-size: 4rem;
        font-weight: 600;
    }
    h4{
        font-size: 1.8rem;
    }
    
}

@media all and (max-width:676px){
    h1 {
        font-size: 3.6rem;
        font-weight: 600;
    }
    h2 {
	    font-size: 2.4rem;
	    font-weight: 600;
    }
    h4{
        font-size: 1.6rem;
    }
    .col-4 {
	width: 100%;
    }
    .col-2 {
        width: 50%;
    }
    .col-8{
        width: 100%;
    }
    .downlode-loction-img img {
        
        width: 100%;
    }
    .header-img-area img {
        width: 99%;
    }
}
@media all and (max-width:576px){
    h1 {
        font-size: 3.2rem;
        font-weight: 600;
    }
    h4{
        font-size: 1.5rem;
        font-weight: 400;
    }
    .col-2 {
        width: 100%;
    }

    .col-3 {
	width: 100%;
    }
    .col-5 {
        width: 100%;
    }
    .meet-img img{
    width: 100%;
    }
    .downlode-loction-img img {
        
        width: 100%;
    }
    .header-img-area {
        width: 90%;
        margin: auto;
        margin-top: 1rem;
    }
    .smart-area-heading-text::after {
        content: '';
        height: 3px;
        height: 0.3rem;
        width: 100%;
        width: 100%;
        background: var(--color-p);
        position: absolute;
        top: 125px;
        left: 0%;
        /* right: 50%; */
    }
    
   
}
@media all and (max-width:400px){
    h3 {
        font-size: 36px;
        font-size: 2.6rem;
        font-weight: 600;
    }
    .col-2 {
        width: 100%;
    }
    .meet-img img{
        width: 100%;
        }
    .header-btn{
        display: none;
    }
    .link{
        margin-top: 2rem;
    }
    .link a{
        margin: 0;
    }
    .choice a {
       font-size: 1.4rem;
       
    }
    .company-logo-img-area{
        margin: 0;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%;
        margin: auto;
       
    }
    .company-logo-img {
        text-align: center;
    }
    .choose-app-box {
        
        padding: 2rem;
        text-align: center;
    }

}
